<%= form_for(@pre_test_answer) do |f| %>
  <%= render 'shared/form_error_message_listing', object: f.object %>

  <p>
    <%= f.label :pre_test_id %><br>
    <%= f.number_field :pre_test_id %>
  </p>
  <p>
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
