<%= form_for(@task_progress) do |f| %>
  <%= render 'shared/form_error_message_listing', object: f.object %>

  <p>
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :email, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :task_id %><br>
    <%= f.collection_select :task_id, Task.all, :id, :name, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
