<div id="information">
<div class="field">

<h1>Listing task progresses</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>email</th>
      <th>Task</th>
      <th>System</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_progresses.each do |task_progress| %>
      <tr>
        <td><%= task_progress.user_id %></td>
        <td><%= task_progress.user.email %></td>
        <td><%= task_progress.task.name %></td>
        <td><%= task_progress.system_example.name %></td>
        <td><% if task_progress.done %><b>yes</b><% else %>no<% end %></td>
        <td><%= link_to 'Show', task_progress %></td>
        <td><%= link_to 'Edit', edit_task_progress_path(task_progress) %></td>
        <td><%= link_to 'Destroy', task_progress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task progress', new_task_progress_path %>

</div>
</div>
