<div id="information">
<div class="field">

<h1>Task progress</h1>

<p>
  <strong>System:</strong>
  <%= @task_progress.system_example.name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task_progress.task.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task_progress.user.email %>
</p>

<p>
  <strong>Done:</strong>
  <%= @task_progress.done %>
</p>

<%= link_to 'Edit', edit_task_progress_path(@task_progress) %> |
<%= link_to 'Back', task_progresses_path %>

</div>
</div>
