<%= form_for(@user) do |f| %>
  <%= render 'shared/form_error_message_listing', object: f.object %>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
