<%= form_for(@user) do |f| %>
  <%= render 'shared/form_error_message_listing', object: f.object %>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :role %><br>
    <%= f.select :role, options_for_select(User.available_roles(), selected: f.object.role) %>
  </p>
  <p>
    <%= f.label :group %><br>
    <%= f.select :group, options_for_select(User.available_groups(), selected: f.object.group) %>
  </p>
  <p>
    <%= f.label :is_active %><br>
    <%= f.check_box :is_active %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
