<div id="information">
<div class="field">

<h2>Listing Users</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Role</th>
    <th>Group</th>
    <th>Ultimo acceso</th>
    <th>Cant. acceso</th>
    <th>Active</th>
    <th>Trackable</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><b><%= user.id %></b></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= user.group %></td>
      <td><%= user.last_sign_in_at %></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.is_active %></td>
      <td><%= user.is_time_trackable %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>

<br />
</div>
</div>
