<div id="information">
  <div class="field">

    <% if @experiment_finished %>
      <h1>Experiment is finished</h1>
      <h2>Thank you!</h2>
      <p>Keep in contact with the project if you want to know about the results.
         This could be beneficial in your carrer as programmer. Don't forget to log-out. Thank you for your time.
      </p>
    <% else %>
      <h1><%= @system_randomly_selected.name %></h1>
      <div class="input">
        <p><%= @system_randomly_selected.description %></p>
      </div>

      <div class="input">
        <h2><%= @task_randomly_selected.name %></h2>
        <p><%= @task_randomly_selected.description %></p>
      </div>

      <p class="buttons">
        <%= link_to "Complete tasks",
                    {:controller => "task_activities", :action => "take"},
                    {id: "completetasks", class: "button", method: :get}
        %>
      </p>
    <% end %>
  </div>
</div>
