<div id="information">
  <div class="field">

    <% if @experiment_finished %>
      <% if current_user.is_in_training %>
        <h1>Training is finished</h1>
      <% else %>
        <h1>Experiment is finished</h1>
        <div class="input">
        <h2>Thank you!</h2>
        <p>Keep in contact with the project if you want to know about the results.
           This could be beneficial in your carrer as a programmer. Don't forget to log-out. Thank you.
        </p>
      <% end %>

      <% if current_user.is_in_training %>
        <p>In training mode, you can start the experiment all over again by pressing the "Start again" button.</p>
      <% end %>

      <% if current_user.is_in_training %>
        <p class="buttons">
          <%= link_to "Start again the training",
                      {:controller => "task_activities", :action => "retake"},
                      {id: "completetasks", class: "button", method: :delete}
          %>
        </p>
        <p>
           If you are able to read <%= @language %> code and you are used to the type of questions, you can start
           the real experiment. First, you will have to complete a small pre-test about <b><%= @paradigm %></b> paradigm and
           <b><%= @language %></b> language to start then with the real experiment.
        </p>
        <p class="buttons">
          <%= link_to "Take the pre-test", pre_test_activities_take_path, class: "start-experiment-button" %>
        </p>
      <% end %>

      </div>
    <% else %>
      <p class="field-label">
        systems: <%= "#{@number_of_finished_systems}/#{@number_of_systems}" %> &nbsp
        tasks: <%= "#{@number_of_finished_tasks}/#{@number_of_tasks}" %>
      </p>
      <h2><u>System <%= @number_of_finished_systems %></u>:</h2>
      <h1><%= @system_randomly_selected.name %></h1>
      <div class="input">
        <p><%= @system_randomly_selected.description %></p>
      </div>

      <div class="input">
        <h2><u>Task <%= @number_of_finished_tasks %></u>:</h2>
        <h2><%= @task_randomly_selected.name %></h2>
      </div>

      <p class="buttons">
        <%= link_to "Complete task",
                    {:controller => "task_activities", :action => "take"},
                    {id: "completetasks", class: "button", method: :get}
        %>
      </p>
    <% end %>
  </div>
</div>

<script>
window.onbeforeunload = null;
$(window).unbind("blur");
$(window).unbind("focus");
</script>
