<div id="information">
  <div class="field">

    <% if @experiment_finished %>
      <h1>Experiment is finished</h1>
      <div class="input">
      <h2>Thank you!</h2>
      <p>Keep in contact with the project if you want to know about the results.
         This could be beneficial in your carrer as a programmer. Don't forget to submit your answers and log-out. Thank you.
      </p>

      <% if current_user.is_in_training %>
        <p>As you are in training mode, submiting your answers is not mandatory. In training mode you can start the experiment all over again by pressing the "Start again" button.</p>
      <% end %>

      <div class="innerform">
        <%= form_tag task_activities_upload_tasks_path, :multipart => true do %>
          <label for="file">Upload all your answers </label> <%= file_field_tag "file" %> <%= submit_tag "submit file" %>
        <% end %>
      </div>

      <% if current_user.is_in_training %>
        <p class="buttons">
          <%= link_to "Start again",
                      {:controller => "task_activities", :action => "retake"},
                      {id: "completetasks", class: "button", method: :delete}
          %>
        </p>
      <% end %>

      </div>
    <% else %>
      <p class="field-label">
        systems: <%= "#{@number_of_finished_systems}/#{@number_of_systems}" %> &nbsp
        tasks: <%= "#{@number_of_finished_tasks}/#{@number_of_tasks}" %>
      </p>
      <h1><%= @system_randomly_selected.name %></h1>
      <div class="input">
        <p><%= @system_randomly_selected.description %></p>
      </div>

      <div class="input">
        <h2><%= @task_randomly_selected.name %></h2>
        <p><%= @task_randomly_selected.description %></p>
      </div>

      <p class="buttons">
        <%= link_to "Complete tasks",
                    {:controller => "task_activities", :action => "take"},
                    {id: "completetasks", class: "button", method: :get}
        %>
      </p>
    <% end %>
  </div>
</div>
