<div id="console">
  <ul>
    <% @files.each do |file_example| %>
      <li data-time="0" data-field=<%= "data-" + file_example.name.split('.').first() %>>
        <%= file_example.name.split('.').first() %>: <span>0</span>s
      </li>
    <% end %>
  </ul>
</div>

<div id="srcmenu">
  <ul>
    <% @files.each do |file_example| %>
      <li><a class="sourcecode" href=<%= "#" + file_example.name.split('.').first() %> id=<%= file_example.name.split('.').first() %>>
        <%= file_example.name %>
      </a></li>
    <% end %>
    <li><a></a></li>
    <li><%= link_to "FINISH ACTIVITY", root_path %></li>
  </ul>
</div>

<div id="content">
  <% @files.each do |file_example| %>
    <div id=<%= "data-" + file_example.name.split('.').first() %> class="field">
      <pre class="line-numbers"><code class="language-java">
<%= file_example.code %>
      </code></pre>
    </div>
  <% end %>
</div>

<script>

$.screentime({
  fields: [
    { selector: '#data-account',
      name: 'data-account'
    },
    { selector: '#data-transfer_money',
      name: 'data-transfer_money'
    },
    { selector: '#data-creditor',
      name: 'data-creditor'
    },
    { selector: '#data-pay_bills',
      name: 'data-pay_bills'
    },
    { selector: '#data-main',
      name: 'data-main'
    }
  ],
  reportInterval: 1,
  callback: function(data) {

    console.log(data);

    $.each(data, function(key, val) {
      var $elem = $('#console li[data-field="' + key + '"]');
      var current = parseInt($elem.data('time'), 10);

      $elem.data('time', current + val);
      $elem.find('span').html(current += val);
    });
  }
});

$( document ).ready(function() {
  $(".field").hide();
});

$(".sourcecode").click(function() {
  $(".field").hide();
  $(".sourcecode").removeClass("active");
  $("#data-" + this.id).show();
  $(this).addClass("active");
});

</script>
