<div id="information">
<div class="field">

<h1>Listing pre tests</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Group</th>
      <th colspan="3"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_tests.each do |pre_test| %>
      <tr>
        <td><%= pre_test.description %></td>
        <td><%= pre_test.group %></td>
        <td><%= link_to 'Show', pre_test %></td>
        <td><%= link_to 'Edit', edit_pre_test_path(pre_test) %></td>
        <td><%= link_to 'Destroy', pre_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Answers', pre_test_answers_path(:pre_test_id => pre_test.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre test', new_pre_test_path %>

</div>
</div>
