<div id="information">
<div class="field">

<h1>Pre test</h1>


<strong>English language: ------------------------------------------------ </strong>

<% match_desc_lang = @pre_test.description.match(/en>(.+)<\/en>/m)
if match_desc_lang.nil?%>
  <% raise "Task description language not found in english <en>...</en>" %>
<% else %>
  <p>
    <%= match_desc_lang[1].html_safe %>
  </p>
<% end %>

<% match_pretest_lang = @pre_test.html_test.match(/en>(.+)<\/en>/m)
if match_pretest_lang.nil?%>
  <% raise "Task description language not found in spanish <es>...</es>" %>
<% else %>
  <p>
    <%= match_pretest_lang[1].html_safe %>
  </p>
<% end %>

<strong>Spanish language: ------------------------------------------------ </strong>

<% match_desc_lang = @pre_test.description.match(/es>(.+)<\/es>/m)
if match_desc_lang.nil?%>
  <% raise "Task description language not found in english <en>...</en>" %>
<% else %>
  <p>
    <%= match_desc_lang[1].html_safe %>
  </p>
<% end %>

<% match_pretest_lang = @pre_test.html_test.match(/es>(.+)<\/es>/m)
if match_pretest_lang.nil?%>
  <% raise "Task description language not found in spanish <es>...</es>" %>
<% else %>
  <p>
    <%= match_pretest_lang[1].html_safe %>
  </p>
<% end %>

<p>
  <strong>Correct answer:</strong>
  <%= @pre_test.correct_answer %>
</p>

<p>
  <strong>Group:</strong>
  <%= @pre_test.group %>
</p>

<%= link_to 'Edit', edit_pre_test_path(@pre_test) %> |
<%= link_to 'Back', pre_tests_path %>

</div>
</div>
