<div id="information">
<div class="field">

<h1>System example</h1>

<p>
  <strong>Name:</strong>
  <%= @system_example.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @system_example.description %>
</p>
<p>
  <strong>Name:</strong>
  <%= @system_example.is_for_training %>
</p>

<%= link_to 'Edit', edit_system_example_path(@system_example) %> |
<%= link_to 'Back', system_examples_path %>

</div>
</div>
