<%= form_for(@permanence_time) do |f| %>
  <%= render 'shared/form_error_message_listing', object: f.object %>

  <p>
    <%= f.label :task_id %><br>
    <%= f.text_field :task_id %>
  </p>
  <p>
    <%= f.label :system_example_id %><br>
    <%= f.text_field :system_example_id %>
  </p>
  <p>
    <%= f.label :file_example_id %><br>
    <%= f.text_field :file_example_id %>
  </p>
  <p>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
