<div id="information">
<div class="field">

<h1>Listing permanence times</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>System example</th>
      <th>File example</th>
      <th>User</th>
      <th>Seconds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permanence_times.each do |permanence_time| %>
      <tr>
        <td><%= permanence_time.task.name %></td>
        <td><%= permanence_time.system_example.name %></td>
        <td><%= permanence_time.file_example.name unless permanence_time.file_example.nil? %></td>
        <td><%= permanence_time.user.email %></td>
        <td><%= permanence_time.seconds %></td>
        <td><%= link_to 'Show', permanence_time %></td>
        <td><%= link_to 'Destroy', permanence_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><%= page_entries_info @api_calls %></td>
      <td align="right"><%= will_paginate @permanence_times %></td>
    </tr>
  </tbody>
</table>

<br>

</div>
</div>
