<div id="information">
<div class="field">

<h1>Permanence time</h1>

<p>
  <strong>Task:</strong>
  <%= @permanence_time.task.name %>
</p>

<p>
  <strong>System example:</strong>
  <%= @permanence_time.system_example.name %>
</p>

<p>
  <strong>File example:</strong>
  <%= @permanence_time.file_example.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @permanence_time.user.email %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @permanence_time.seconds %>
</p>

<%= link_to 'Back', permanence_times_path %>

</div>
</div>
