<!DOCTYPE html>
<html>
<head>
  <title>Program Comprehension</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>

<%= render 'layouts/flash_messages' %>

<%= yield %>

<% if user_signed_in? %>
  <div id="bottommenu">
    <div class="field">
      <% if can? :manage, :User %> <%= link_to "Users", users_path %> | <% end %>
      <% if can? :manage, :SystemExample %> <%= link_to "Systems", system_examples_path %> | <% end %>
      <% if can? :manage, :FileExample %> <%= link_to "Files", file_examples_path %> | <% end %>
      <% if can? :manage, :Task %> <%= link_to "Tasks", tasks_path %> | <% end %>
      <% if can? :manage, :TaskProgress %> <%= link_to "Progress", task_progresses_path %> | <% end %>
      <% if can? :manage, :PermanenceTime %> <%= link_to "Times", permanence_times_path %> | <% end %>
      <%= link_to 'Home', root_path %> |
      <%= link_to "Edit account", edit_user_registration_path %> |
      <%= current_user.email %>(<%= link_to "Sign out", destroy_user_session_path, :method=>'delete' %>)
    </div>
  </div>
<% end %>

</body>
</html>
